body {
  font-family: "Calibri", sans-serif;
  font-size: 11pt;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 0in 5.0pt 0in 5.0pt;
}
th {
  background:#D3D3D3;
}
.table-note {
  background-color: yellow;
}
.report-name, .report-summary {
  margin-bottom: 1em;
}
.report-body-remain {
  margin-top: 1em;
}